<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    {{#if msg}}
        <div class="msg">
            {{msg}}
        </div>
    {{/if}}

    <div class="container">
        <div class="image"></div>

        <div class="auth-box">
            <div class="title"><span class="title-img"></span>Nomadly</div>
            <h1 class="heading">Start your next adventure with Nomadly.</h1>

            <form action="/auth/signup" method="post">
                <input type="text" name="username" placeholder="Enter username" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <button type="submit" class="submit-btn">Signup</button>
            </form>

            <div class="redirect">
                Already an user? <button><a href="/auth/login">Login</a></button>
            </div>

            <div class="separator">
                <span>OR CONTINUE WITH</span>
            </div>

            <div class="third-party-login">
                <a href="/auth/login/facebook" class="third-party-btn fb-btn">Login with Facebook</a>
                <a href="/auth/login/google" class="third-party-btn g-btn">Login with Google</a>
            </div>
        </div>
    </div>
</body>
</html>
