<nav class="navbar">
    <a href="/home" class="logo">
        <div class="logo-img"></div>
        <div class="logo-text">Nomadly</div>
    </a>  

    <div class="links">
        <a href="/home">Home</a>
        <a href="/explore">Explore</a>
        <a href="/trips">My Trips</a>
        <a href="/trips/create">Create Trip</a>
        <a href="/aboutus">About Us</a>
    </div>

    <div class="profile">
        <a href="/profile">
            <div class="profile-img" style="background-image: url('{{user.profilePic}}');"></div>
        </a>
    </div>

</nav>

<script>
    const links = document.querySelectorAll('.navbar .links a');

    links.forEach(link => {
    if (link.getAttribute('href') === window.location.pathname) 
        link.classList.add('active');
    });
</script>
