<nav class="navbar">
    <a href="/home" class="logo">
        <div class="logo-img"></div>
        <div class="logo-text">Nomadly</div>
    </a>  

    <div class="links">
        <a href="/explore">Explore</a>
        <a href="/trips">My Trips</a>
        <a href="/trips/create">Create Trip</a>
        <a href="/destinations">Destinations</a>
        <a href="/aboutus">About Us</a>
    </div>

    <div class="profile">
        <a href="/profile">Profile</a>
    </div>

</nav>
