<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles/components/style.css">
    <link rel="stylesheet" href="styles/components/hero.css">
    <link rel="stylesheet" href="styles/about-us/hero-aboutus.css">
    <link rel="stylesheet" href="styles/about-us/our-story-aboutus.css">
    <link rel="stylesheet" href="styles/about-us/missionvision-aboutus.css">
    <link rel="stylesheet" href="styles/about-us/team-aboutus.css">
    <link rel="stylesheet" href="styles/about-us/techstack-aboutus.css">
    <link rel="stylesheet" href="styles/about-us/whynomadly-aboutus.css">
    <link rel="stylesheet" href="styles/components/final_cta.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    
    {{>navbar}}

    <main>
        {{>hero_aboutus}}
        {{>whynomadly_aboutus}}
        {{>ourstory_aboutus}}
        {{>missionvision_aboutus}}
        {{>techstack_aboutus}}
        {{>team_aboutus}}
        {{>final_cta}}
    </main>

    {{>footer}}
</body>
</html>
