*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-primary: #1A2A36;          /* Explorer Navy */
  --color-accent: #FF6B35;           /* Compass Orange */

  --color-bg: #F7F4EF;               /* Canvas Sand */
  --color-card: #E4E4E4;             /* Trail Smoke */

  --color-text-main: #2E2E2E;        /* Campfire Charcoal */
  --color-text-muted: #7D7D7D;       /* Foggy Ash */

  --logo-bg: #f7f7f7;

  --color-success: #2C6E49;          /* Forest Green */
  --color-warning: #F4B942;          /* Desert Mustard */
  --color-danger: #D72638;           /* Route Red */
  --color-info: #3478F6;             /* Skyline Blue */

  --color-border: rgba(0, 0, 0, 0.08);
  --color-glass: rgba(255, 255, 255, 0.2);
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.05);
}

body {
  padding-top: 92px; /* because of navbar */
}

/* ----------NAVBAR---------- */
.navbar{
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    background-color: var(--color-primary);
    padding: 16px 50px;
}

.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo-img{
    background: url('../images/Nomadly_icon-removebg.png');
    height: 60px;
    width: 60px;
    /* margin-right: 10px; */
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-text{
  font-size: 32px;
  font-weight: 600;
}

.links{
  display: flex;
  align-items: center;
  gap: 50px;
}

.links a,
.profile a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.links a:hover,
.profile a:hover{
    color: var(--color-info);
}

.links .logout {
    color: #ff4d4d;
}

.links .logout:hover {
    color: #cc0000;
}

.profile {
    margin-right: 30px;
}


/* ----------BACK BUTTON---------- */
.btn-back-fixed {
    position: fixed;
    top: 9rem;
    left: 1.5rem;
    z-index: 999;
    
    font-size: 1.3rem;
    color: var(--color-primary);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-soft);
    transition: all 0.2s ease;
}

.btn-back-fixed:hover {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
}
