<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    {{>navbar}}

    <h1>Your Trips</h1>

    {{#if trips.length}}
        <ul class="trip-list">
            {{#each trips as |t|}}
                <li class="trip-card">
                    <h2>{{t.tripName}}</h2>
                    <p>{{t.destination}}</p>
                    <a href="/trips/details/{{t._id}}">View</a>
                </li>
            {{/each}}
        </ul>

    {{else}}
        <p>No trips yet. <a href="/trips/create">Create one</a> now!</p>
    {{/if}}
    </body>
</html>
